fastapi~=0.128.1
pydantic~=2.12.5
dotenv~=0.9.9
python-dotenv~=1.2.1
openai~=2.17.0
dnspython~=2.7.0
idna~=3.11
httpcore~=1.0.9
httpx~=0.28.1
cryptography~=46.0.4
anyio~=4.12.1
h11~=0.16.0
pip~=26.0.1
distro~=1.9.0
rich~=14.3.2
pygments~=2.19.2
markdown-it-py~=3.0.0
requests~=2.32.5
colorama~=0.4.6
pyyaml~=6.0.3
exceptiongroup~=1.3.1
sniffio~=1.3.1
click~=8.1.8
jiter~=0.13.0
mdurl~=0.1.2
typer~=0.21.1
shellingham~=1.5.4
fastar~=0.8.0
markupsafe~=3.0.3
websockets~=15.0.1
numpy~=2.0.2
certifi~=2026.1.4
starlette~=0.49.3
email-validator~=2.3.0
rignore~=0.7.6
urllib3~=2.6.3
uvicorn~=0.39.0
httptools~=0.7.1
watchfiles~=1.1.1
annotated-types~=0.7.0
itsdangerous~=2.2.0
jinja2~=3.1.6
sentry-sdk~=2.52.0
blinker~=1.9.0
werkzeug~=3.1.5
flask~=3.1.2
setuptools~=58.1.0
python-multipart~=0.0.20
pydantic-settings~=2.11.0
tomli~=2.4.0